.about-wrapper {
  .category { 
    margin: 15px 0;     
    .card {
      border: none;

      &.middle { margin: 15px 0; }
      &.smaller .card-img-top { 
        min-height: 235px; 
        margin-top: 0;
      }

      .card-block {
        font-size: 1.1rem;
        padding: 1rem;
        text-align: center;
        border: 0;
        font-weight: 500;
      }
    }
  }
}