@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import '../../assets/partials/styles';

*:not(i) {  font-family: 'Raleway', sans-serif !important; } 
body {
  margin: 0;
  padding: 0;

  .app-wrapper section { 
    padding-top: $nav-height; 
    
    &:not(.home-wrapper) { padding: 100px 0; }
    .section-heading {
      text-align: center;

      h2 {
        font-size: 40px;
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
      }

      h3 {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        color: $grey;
      }
    }
  }
}

.navbar-wrapper {
  color: #fff;
  background-color: $black;
  position: fixed;
  width: 100%;
  z-index: 5;

  .container {
    display: flex;
    flex-direction: row;
    height: $nav-height;
    align-items: center;
    font-weight: 500;

    .brand {
      flex: 1;
      padding: 1.1em 1em;
      font-size: 1.25rem;
      line-height: inherit;
    }
  
    .menu {
      display: flex;
      flex-direction: row;
      height: 100%;
      
      a {
        text-decoration: none;
        color: #fff;
        transition: color $transition linear;
        display: flex;
        align-items: center;

        &.active { background-color: $blue; }
        &:hover:not(.active) { color: $blue; }

        li { 
          list-style: none;
          padding: 1.1em 1em;
          font-size: 90%;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
      
    }
  }

}