@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import '../../assets/partials/styles';

*:not(i) {  font-family: 'Raleway', sans-serif !important; } 
body {
  margin: 0;
  padding: 0;

  .app-wrapper section { 
    padding-top: $nav-height; 
    
    &:not(.home-wrapper) { padding: 100px 0; }
    .section-heading {
      text-align: center;

      h2 {
        font-size: 40px;
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
      }

      h3 {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        color: $grey;
      }
    }
  }
}

.navbar-wrapper {
  background-color: $black;
  position: fixed;
  width: 100%;
  z-index: 5;
  
  .navbar-light {
    background-color: $black !important;

    .container {
      font-weight: 500;

      .navbar-toggler { background-color: #fff; }
      .navbar-brand {
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
      }

      .navbar-nav.ml-auto {
        li { 
          font-size: 90%; 
          text-transform: uppercase;
          text-align: center;
      
      
          &.active { color: $blue; }
          a {
            color: #fff;
            transition: color $transition linear;

            &:hover:not(.active) { color: $blue; }
          }
        }
      }
    }
  }
}